@model List<CarPool.Models.MessageVModel>

@foreach (var msg in Model)
{
    <li class="mui-table-view-cell">
        <a class="mui-navigate-right">
            <p>@msg.StartName - @msg.EndName</p>
            <p>费用:@msg.Price 元</p>
            <p>出发时间：@msg.StartTime</p>
        </a>
    </li>
}
