@using CarPool.Models.Admin.AdvertManage
@model QueryConditionDto
<table>
    <tr>
        <td>@Html.LabelFor(t => t.Title)</td>
        <td>@Html.TextBoxFor(t => t.Title, new { @class = "easyui-textbox", @placeholder = "标题" })</td>
        <td></td>
        <td></td>
    </tr>
</table>
