@model CarPool.Models.LoginVModel
@{
    ViewBag.Title = "登录";
}
<div class="mui-content">
    <form id='login-form' class="mui-input-group" action="@Url.Action("CheckLogin")" method="post">
        <div class="mui-input-row">
            <label>联系电话</label>
            @Html.TextBoxFor(t=>t.Phone,new{@class = "mui-input-clear mui-input",@placeholder = "请输入联系电话" })
        </div>
        <div class="mui-content-padded">
            <a id='login' class="mui-btn mui-btn-block mui-btn-primary">登录</a>
        </div>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#login").click(function () {
                var options = {
                    url: '@Url.Action("CheckLogin")',
                    type: 'post',
                    dataType: 'json',
                    data: $("#login-form").serialize(),
                    onSuccess: function (data) {
                        window.location = '@Url.Action("Index","Home")';
                    },
                    onFailure: function (err) {
                        mui.toast(err);
                    }
                };
                $.lsAjax(options);
            });
        });
    </script>
</div>

